* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

h1 {
	background-color: #ddd;
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
	font-size: 2rem;
	text-align: center;
}
h2 {
  padding: 1rem;
	font-size: 2rem;
	text-align: center;
}
.h3 {
	background-color: #ddd;
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
	font-size: 2rem;
	text-align: center;
}
nav {
	background-color: #6276b9;
	margin: 0 auto;
	max-width: auto;
  display: flex;
  gap: 20rem;
  justify-items: center;
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}
.card {
  border-radius: 8px;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  width: 70%;
  height: auto;
}
.card2 {
  border-radius: 8px;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  width: 30%;
  height: auto;
}
main {
  display: flex;
  flex-direction: row;
  align-items: center;  
}
.profile_image {
  margin-right: 10rem; 
  width: 150px;
  height: 150px;
  float: right;
}
img {
  margin-right: 10rem; 
  width: 150px;
  height: 150px;
  float: left;
}
nav a:hover {
	text-decoration: overline;
}

.active {
	color: yellow;
}

/* larger/wider views **************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}

	nav ul li {
		flex: 1 0 auto; /* flex: [flex-grow] [flex-shrink] [flex-basis]; 
		in this example, the items will not shrink but can grow to fill the space at natural content width*/

}
