body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #4b0076;
    color: white;
    padding: 1rem;
    display: flex;
    gap: 40rem;
    align-items: center;
}
nav a {
    gap: 10rem;
    color: black;
    flex-shrink: 10px;
    font-weight: bold;
    padding: 10px;
    background-color: aliceblue;
    text-decoration: none;
}
nav {
    display: flex;
    gap: 3rem;
    text-align: center;
}
h1 {
    justify-content: center;
}
figure img {
    width: 20rem;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}
footer {
    background-color: #4b0076;
    color: white;
    padding: 10px;
    margin-top: 20px;
}