@media (max-width: 768px) {
  .nav-links {
    display: flex;
  
  }

  .hamburger {
    min-width: block;
    display: block;
    background: #9d0707;
    padding: 10px;
    cursor: pointer;
    color: white;
  }
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #2b49ae;
    color: white;
    padding: 1rem;
}

main {
    max-width:fit-content;
    margin: 0 auto;
    display: grid;
}


.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: justify;
}

.menu-button{
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

#nav-links.active {
    display: block;
}

.nav-links a:hover {
    text-decoration: overline;
    background-color: rgb(197, 197, 6);
    color: #2b49ae;
}

figure {
    margin: 10px;
}

img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

footer {
    background-color: #2b49ae;
    color: white;
    padding: 1rem;
}

#currentyear {
    margin: 0;
}

#lastModified {
    margin: 0;
}